##################################
# Altium Designer - Git Ignore
##################################

# --- Dossiers générés par Altium ---
/APP/01 - SCHEMAS ET PCB/99 - WORKING COPY/History
/APP/01 - SCHEMAS ET PCB/99 - WORKING COPY//Preview
/APP/01 - SCHEMAS ET PCB/99 - WORKING COPY//__Previews

# --- Fichiers temporaires ---
*.tmp
*.bak
*.log
*.lck
*.drc
*.erc
*.err

# --- Fichiers de preview Altium ---
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbStructure

# --- Fichiers système ---
Thumbs.db
.DS_Store

# --- Autosave / recovery ---
*.asv
*.sv$


